body {
    background-image: url(http://www.siameatery.com/images/background.jpg);
    background-size: 100% 100%;
    color: black;
    
}
#main {
    background-image: url(http://www.flyertutor.com/images/inkscape-restaurant-background-toback.png);
    background-size: 100% 100%;
}