body {
 background-image: url(firewatch.jpg);
 background-size: 100% 100%;
 font-family: 'Cabin Sketch', cursive;
}
#weatherly {
    font-size: 60px;
    text-align: center;
}
#socialbtn {
    margin: 0px 20px;
    
}
.btn {
    font-size: 40px;
}
#areaName {
    font-size: 30px;
}
#rmv{
    color: white;
    background-image: url(firewatch2.jpg);
    background-repeat: repeat;
    background-size: cover;
    border-style: inset;
     height: 425px; 
     width: 300px; 
     margin-top: 80px;
      margin-right: 80px; 
      border-radius: 10px;
}
#line {
    background-color: black;
    color: black;
}




.flip {
    backface-visibility: hidden;
    border: 1px solid black;
    height: 150px;
    position: absolute;
    transform-origin: 50% 50% 0px;
    transition: all 3s;
    width: 300px;    
}

#templateDiv {
    transform: rotateY( 0deg );
}

#side-2 {
    transform: rotateY( 180deg );   
}

.flip-side-1 {    
    transform: rotateY( 0deg ) !important;
}

.flip-side-2 {
    transform: rotateY( 180deg ) !important;
}

#center {
    text-align: center;
}